.app-footer {
  padding: 0.1rem;
  background-color: rgb(217, 223, 202);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.app-footer__message {
  color: #313131;
  font-family: sans-serif;
  font-size: 1.2pc;
}
